@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$OpenSans: 'Open Sans', sans-serif;
$NotoSansK: 'Noto Sans KR', sans-serif;
$Libre: 'Libre Franklin', sans-serif;
